/*default css*/
a:hover{
    text-decoration: none !important;
}
/*CSS for the sign-up page*/
div#FormContainer
{
    width: 85%;
    position: relative;
}

div#FormLeftDiv
{
    width: 70%;
    position: relative;
    padding: 5px;
    float: left;
}
div#FormRightDiv
{
    width: 25%;
    position: relative;
    padding: 5px;
    float: left;
}
/*CSS for the header*/

div#mainContainer
{
    width: 100%;
    min-height: 350px;
    position: relative;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
    background: #E4E5E6;
    border-top-style: solid;
    border-top-color: #E36D01;
    border-top-width: 3px;
}
@font-face {
    font-family: Signika;
    src: url(../style/font/Signika/Signika-Regular.otf);
}
@font-face {
    font-family: Helvetica;
    src: url(../style/font/HelveticaLight.ttf);
}
div#mainContainer > header
{
    height: 80px;
    position: relative;
    width: 100%;
    margin: 0px auto;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
    padding: 20px 0px;
    background: rgba(255,255,255,0.8);
}
div#mainContainer > header > div#leftLogo
{
    position: relative;
    left: 8%;
    float: left;
    width: 15%;
}
img#logo
{
    height: 54px;
    width: 121px;
}
#mainMenu {
    float: right;
    width: 50%;
    font-family: Helvetica;
}
div#Login
{
    float: right;
    width:22%;
    position: relative;
    padding-top: 15px;
}
#btnLogin, #btnSignUp
{
    font-size: 20px;
    font-family: Signika;
    color: #E36D01;
    width: 40%;
    margin-left: 10px;
    padding: 11px 10px;
}
#btnLogin, #btnSignUp:hover{
    cursor: pointer;
    opacity: 0.8;
}
#btnSignUp
{
    background-color: #E36D01;
    color: white;
}
#btnLogin:hover
{
    border-top: solid 2px #E36D01;
    border-bottom: solid 2px #E36D01;
}

/*Login success*/
div#LoginSuccess
{
    float: right;
    width:22%;
    position: relative;
    margin-top: -5px;
    /*visibility: hidden;*/
}
div#LoginSuccess:hover
{
    cursor: pointer;
}
.user-image {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 100%;
    border: 1px solid #eff1f2;
}
.user-name-style{
    margin-left: 5px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 114px;
    position: relative;
    top: 5px;
    font-size: 20px;
    color: #E36D01;
}

div#name-wrapper
{
    position: absolute;
    left: 20%;
    margin-top: 5px;
}
div#LoginSuccess .dropdown-menu{
    border-radius: 0px !important;
    box-shadow: none !important;
    margin-top: 26px !important;
    padding: 20px !important;
    border-top: 3px solid #E36D01 !important;
    left: -53px !important;
}
div#LoginSuccess .dropdown-menu > li{
    width: 98%;
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #B8BBC1;
}
div#LoginSuccess .dropdown-menu > li a:hover{
    color: #E36D01;
    background-color: white !important;
}
div#LoginSuccess .dropdown-menu > li a:focus{
   border: none !important;
}
/* Menu CSS */#mainMenu,
#mainMenu > ul {
  /*background: #14957C;*/
    padding-bottom: 3px;
    margin: 0px auto;
    padding: 0;
    position: relative;
    left: 2.5%;
    float: left;
}
#mainMenu:before,
#mainMenu:after,
#mainMenu > ul:before,
#mainMenu > ul:after {
    content: '';
    display: table;
}
#mainMenu:after,
#mainMenu > ul:after {
    clear: both;
}
#mainMenu > ul li {
    margin: 0;
    padding: 0px 10px;
    list-style: none;
}
#mainMenu > ul > li {
    float: left;
    position: relative;
}
#mainMenu > ul > li > a {
    padding: 20px 13px;
    display: block;
    color: #E36D01;
    border-top-style: solid;
    border-top-color: #2D2D2F;
    border-top-width: 1px;
    font-size: 20px;
    text-decoration: none;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
#mainMenu > ul > li:hover > a {
    border-top-style: solid;
    border-top-color: #E36D01;
    border-top-width: 2px;
}
#mainMenu > ul > li > a > span {
  line-height: 18px;
}
#mainMenu > ul > li.active > a,
#mainMenu > ul > li > a:active {
 color: #151515;
}
/* Childs */
#mainMenu > ul ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100px;
    background: #F5F5F5;
    margin: 0;
    padding: 0;
    z-index: -1;

}
#mainMenu > ul li:hover ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
    color: #000;
    z-index: 2;
    /*top: 64px;*/
    top: 50px;
    left: 0;
}
#mainMenu > ul ul:before {
    content: '';
    position: absolute;
    top: -20px;
    width: 100%;
    height: 20px;
    background: transparent;
}
#mainMenu > ul ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
#mainMenu > ul ul li a {
    padding: 10px 25px;
    display: block;
    color: #717171;
    font-size: 18px;
    text-decoration: none;
    width: 185px;
    border-left: 4px solid transparent;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    border-top: 1px solid #2D2D2F;
    opacity: 1;
    background: #FFFFFF;
}
#mainMenu > ul ul li a:hover {
    border-top: 2px solid #E36D01;
    color: #E36D01;
}
#mainMenu > ul ul li a:active {
    background: #1BBC9B;
}
#slogan
{
    background-color: #EDEDED;
    min-height: 250px;
    position: relative;
    border-top-style: solid;
    border-top-color: #B8BBC1;
    border-top-width: 3px;
}
#slogan > p
{
    position: relative;
    font-size: 4em;
    margin: 0px auto;
    width: 80%;
    text-align: center;
    padding: 2% 0px;
    font-family: Signika;
}
/**********************************/
div#container 
{
    width: auto;
    min-height: 500px;
    max-height: 1500px;
}
div.innercontainer{
    min-height: 700px;
    max-height: 1500px;
    position: relative;
    width: 80%;
    background-color: white;
    padding: 20px;
    margin: 0px auto;
     box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
    clear: both;
}

.leftcolIndex{
    position: absolute;
    padding: 5px 60px ;
    height: auto;
    float: left;
    width: 38%;
    height: auto;
    background-color: white;
    clear: both;
     box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.rightcolIndex{
    position: relative;
    padding: 5px;
    float: right;
    background-color: white;
    width: 58%;
    height: auto;
    max-height: auto;
    clear:both;
}
.desc
{
    font-family: Signika;
    font-size: 25px;
    text-align: left;
    color: #404144;
    margin-top: 2px;
   
}
.leftcolIndex img
{
    width: 339px;
    height: 254px;
}
div#explore, div#toDo
{
    height: 50%;
    width: 95%;
    margin-top: 10px;
}
div#upcomingevents
{
    margin-top: 10px;
}
.eventsIndex img
{
    width: 585px;
    height: 191px;
    margin-top: 2px;
}
div.eventTitle
{
    font-family: Tahoma;
    font-size: 18px;
    color: #404144;
    font-weight: bold;
}
div.dateLocation
{
    font-family: Helvetica;
    color: #404144;
    font-size: 15px;
}
a.buttonLink
{
    font-family: Tahoma;
    color: #E36D01;
    font-size: 15px;
}
div.orangeLine
{
    height: 10px;
    border-top: 3px solid #E36D01;
}
div.greyLine
{
    width: 90%;
    height: 10px;
    border-top: 3px solid #B8BBC1;
}
a
{
     text-decoration: none;
}
/**Footer**/
footer{
    clear: both;
    background-color: #E36D01;
    padding: 25px 50px;
    overflow: auto;
    margin-top: 50px;
}
div.fLeftcol
{
    float: left;
    width: 25%;
}
div.fLeftcol > a
{
    display: block;
    font-family: Tahoma;
    font-size: 18px;
    color: #FFFFFF;
    padding: 5px;
}
div.fLeftcol > a:hover
{
    color: #F5CBA4;
}
div#fRightcol
{
    float: right;
    width: 20%;
}
div#fRightcol > div
{
    font-family: Tahoma;
    font-size: 18px;
    color: #FFFFFF;
    padding: 5px;
}
div#fRightcol > nav
{
    padding: 5px;
}
a#facebook, a#twitter
{
    display: inline-block;
    width: 39px; 
    height: 39px;
}
a#facebook
{
    background-image: url(../images/index/facebook.png);
    
}
a#twitter
{
    background-image: url(../images/index/twitter.png);
}
/**********Event page*************/
.botCol{
    box-sizing: border-box;
    overflow: auto;
    width: 90%;
    margin: 10px auto;
    clear: both;
}

/*****Things to do*********/
.greybox
{
    border: 3px solid #E4E5E6;
    padding: 5px;
}
div#food div.desc, div#shopping div.desc
{
   /*padding-left: 30px;*/
}

.topCol
{
    box-sizing: border-box;
    overflow: auto;
    width: 90%;
    margin: 0px auto;
    
}
.leftcol{
    float: left;
    width: 49%;
    height: auto;
    background-color: white;
    margin-top: 20px;
}
.rightcol{
    float: right;
    background-color: white;
    width: 49%;
    margin-top: 20px;
    height: auto;
}
.bottomcol{
    position: relative;
    margin-top: 50px;
    background-color: white;
    width: 90%;
    margin: 20px auto;
    height: auto;
    max-height: auto;
}

div#cycling
{
    padding-left: 10px;
}
/** Things to do pages****/
div#culture div.desc, div#weather div.desc
{
   /*padding-left: 30px;*/
}

div#publictransport
{
    padding-left: 10px;
}
div#searchButton{
    width: 372px;
    background-image: url(../images/events/SearchEvent.png);
    height: 52px;
    margin: 20px auto;
}
div#searchButton:hover{
    cursor: pointer;
    background-image: url(../images/events/SearchEventHover.png)
}
/*****NavLink Div*********/
div#navLinkContainer
{
    height: 120px;
    width: 80%;
    margin: 0px auto;
    clear: both;
    box-sizing: border-box;
}
div#navLinkContainer > div:first-child
{
    height: 80px;
}
div#navLinkContainer > div
{
    height: 40px;

}
ul#navLink
{
    margin: 0;
    padding: 0;
}
ul#navLink > li
{
    display: inline;
    float: left;
    height: 40px;
    min-width: 150px;
}
ul#navLink > li:first-child
{
    width: 5%;
    background-color: #FFFFFF;
    min-width: 40px;
}
ul#navLink a
{
    display: block;
}
li.preActive
{
    background: #FFFFFF;
     padding: 10px;
}
li.preActive:hover
{
    border-left: 2px solid #E36D01;
}
li.preActive > a
{
    color: #E36D01;
    width: 80%;
    float: left;
}
li.preActive > span
{
    display: inline-block;
    height: 44px;
    width: 20%;
    float: right;
    background-image: url(../images/thingstodo/nextLink.png);
    background-repeat: no-repeat;
    background-position: left top;
    margin-top: 5px;
}
li.activeLinkNav
{
    background-color: #E36D01;
    padding: 10px;
}
li.activeLinkNav > a, li.preActive > a
{
    font-size: 18px;
    font-family: Tahoma;
}
li.activeLinkNav > a 
{
    color: #FFFFFF;
    text-align: center;
}
/*********Shopping*********/
.Shoppingcontainer{
    position: relative;
    width: 80%;
    height: auto;
    background-color: white;
    padding: 40px;
    margin: 0px auto;
     box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

#titleContainer{
    border: 1px solid #E0E0E0;
    background-color: white;
}

#ShopUpperRow{
    box-sizing: border-box;
    overflow: auto;
    margin-top: 15px;
    width: auto;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

#bottomShop{
    box-sizing: border-box;
    overflow: auto;
    margin-top: 15px;
    width: auto;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.leftcolShop,.rightcolShop,.firstshopCol,.secondshopCol
{
    border: 2px solid #E0E0E0;
    padding: 10px;
}
.leftcolShop{
    float: left;
    width: 47%;
    background-color: white;
}

.rightcolShop{
    float: right;
    background-color: white;
    width: 47%;
}
.firstshopCol{
    float: left;
    background-color: white;
    width: 47%;
}
.secondshopCol{
    float: right;
    background-color: white;
    width: 47%;
}

#shopTitle{
    text-align: center;
    font-family: Signika;
    font-size: 35px;
}

.shopdesc
{
    font-family: Signika;
    font-size: 20px;
    text-align: left;
    color: #404144;
    margin-top: 2px;
    padding: 15px;
   
}

#greyline{
    height: 10px;
    border-top: 5px solid #E0E0E0;
}

.ShopDesc{
    font-family: Signika;
    font-size: 20px;
    text-align: left;
    color: #404144;
    margin-top: 2px;
}
.ShopPicLink > img
{
    margin: 20px 15px;
}
.ShopDetails{
    font-size: 15px;
    font-style: italic;
    text-align: left;
    color: #404144;
    margin-top: 2px;

}

.readMore >a
{
    font-size: 15px;
    text-align: left;
    color: #E36D01;
    margin-top: 2px;
    float: left;
    font-style: none;
}

/**********Food page*************/

.Foodcontainer{
    position: relative;
    width: 80%;
    height: auto;
    background-color: white;
    padding: 40px;
    margin: 0px auto;
     box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

#titleContainer{
    border: 1px solid #E0E0E0;
    background-color: white;
}

#FoodUpperRow{
    box-sizing: border-box;
    overflow: auto;
    margin-top: 15px;
    width: auto;
}

.bottomFood{
    box-sizing: border-box;
    overflow: auto;
    border: 1px solid #E0E0E0;
    margin-top: 15px;
    background-color: white;
    width:auto;
}


.leftcolFood{
    float: left;
    width: 45%;
    background-color: white;
    border: 2px solid #E0E0E0;
}

.rightcolFood{
    float: right;
    background-color: white;
    width: 45%;
    border: 2px solid #E0E0E0;
}
.firstCol{
    float: left;
    background-color: white;
    width: 30%;
}
.secondCol{
    float: left;
    background-color: white;
    width: 30%;
}

.thirdCol{
    float: left;
    background-color: white;
    width: 30%;
}

.leftcolFood, .rightcolFood, .firstCol, .secondCol, .thirdCol
{
    padding: 15px;
}
#foodTitle{
    text-align: center;
    font-family: Signika;
    font-size: 35px;
}

.fooddesc
{
    font-family: Signika;
    font-size: 20px;
    text-align: left;
    color: #404144;
    margin-top: 2px;
    padding: 15px;
   
}

#greyline{
    height: 10px;
    border-top: 5px solid #E0E0E0;
}

.RestDesc{
    font-family: Signika;
    font-size: 20px;
    text-align: left;
    color: #404144;
    margin-top: 2px;
}
.RestDetails{
    font-size: 15px;
    font-style: italic;
    text-align: left;
    color: #404144;
    margin-top: 2px;

}

.readMore >a
{
    font-size: 15px;
    text-align: left;
    color: #E36D01;
    margin-top: 2px;
    float: left;
    font-style: none;
}
/**********Cycling***********/
.Cyclingcontainer{
    position: relative;
    width: 80%;
    height: auto;
    background-color: white;
    padding: 40px;
    margin: 0px auto;
     box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

#titleContainer{
    border: 1px solid #E0E0E0;
    background-color: white;
}

#CycUpperRow{
    box-sizing: border-box;
    overflow: auto;
    margin-top: 15px;
    width: auto;
}

.bottomCyc{
    box-sizing: border-box;
    overflow: auto;
    border: 1px solid #E0E0E0;
    margin-top: 15px;
    background-color: white;
    width:auto;
}

#CycUpperRow > p{
    text-align: left;
    font-family: Signika;
    font-size: 35px;
    color:#E36D01;
}

#cycTitle{
    text-align: left;
    font-family: Signika;
    font-size: 35px;
}


#greyline{
    height: 10px;
    border-top: 5px solid #E0E0E0;
}

ol#cycle{
    font-family: Signika;
    font-size: 17.5px;
    text-align: left;
    color: #404144;
    margin-top: 2px;
}
.cyclingPic > img
{
    position: relative;
    margin-left: 50px;
}
#cycPara{
    font-family: Signika;
    font-size: 17.5px;
    text-align: left;
    color: #404144;
    margin-top: 2px;

}
/***********Culture page**************/
ol#culture{
    font-family: Signika;
    font-size: 17.5px;
    text-align: left;
    color: #E36D01;
    margin-top: 2px;
}


.culPoints{
    text-align: left;
    font-family: Signika;
    font-size: 15px;
    color:#404144;
}
/***********Public Transport Page******/
#PTleftcol{
    float: left;
    width: 65%;
    background-color: white;
    border: 1px solid #E0E0E0;
    padding: 5px;
    text-align: center;
    margin: 5px;
}

#PTrightcol{
    float: right;
    width: 30%;
    background-color: white;
    border: 1px solid #E0E0E0;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px;
}

#usefulLinks{
    text-align: left;
    font-family: Signika;
    font-size: 25px;
    color:#404144;
    border-bottom: 3px solid #E36D01;
}
.PTfont{
    text-align: left;
    font-family: Signika;
    font-size: 20px;
    color:#404144;
}

.PTbuttons{
    float: left;
    text-align: center;
    font-family: Signika;
    font-size: 17.5px;
    color:#404144;
    background-color:#E36D01;
    width: 45%;
    padding: 5px;
    margin: 2px;
}
.PTbuttons:hover{
    background-color: cadetblue;
}
#PT3rdbutton:hover{
    background-color: cadetblue;
}
#PT3rdbutton{
    float: left;
    text-align: center;
    font-family: Signika;
    font-size: 17.5px;
    color:#404144;
    background-color:#E36D01;
    width: 95%;
    padding: 5px;
    margin-top: 10px;
}
.PTbuttons > a{
    color: white;
}
#PT3rdbutton > a{
    color: white;
}

.linkList{
    width: 75%;
}
.linkList > a{
    color: #404144;
    padding: 5px;
    float: left;
    font-family: Signika;
    font-size: 17.5px;
}
.linkList > a:hover{
    color: cadetblue;
}
#PTul > li{
    color: #404144;
    padding: 5px;
    font-family: Signika;
    font-size: 17.5px;
}
#UpperRow{
    box-sizing: border-box;
    overflow: auto;
    border: 1px solid #E0E0E0;
    margin-top: 15px;
    width: auto;
}
/************general CSS***********/
#titleContainer{
    border: 1px solid #E0E0E0;
    background-color: white;
}

.Para{
    font-family: Signika;
    font-size: 17.5px;
    text-align: left;
    color: #404144;
    margin-top: 2px;
}
#Para{
    font-family: Signika;
    font-size: 17.5px;
    text-align: left;
    color: #404144;
    margin-top: 2px;
}

#bottomRow{
    box-sizing: border-box;
    overflow: auto;
    border: 1px solid #E0E0E0;
    margin-top: 15px;
    background-color: white;
    width:auto;
}


#greyline{
    height: 10px;
    border-top: 5px solid #E0E0E0;
}

#Title{
    text-align: left;
    font-family: Signika;
    font-size: 35px;
}

.Details{
    font-size: 15px;
    font-style: italic;
    text-align: left;
    color: #404144;
    margin-top: 2px;
}

.Desc{
    font-family: Signika;
    font-size: 20px;
    text-align: left;
    color: #404144;
    margin-top: 2px;
}
.readMore >a
{
    font-size: 15px;
    text-align: left;
    color: #E36D01;
    margin-top: 2px;
    float: left;
    font-style: none;
}
/*********Contact Pages************/
#contact-area {
	width: 100%;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 90%;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	margin: 0px 0px 10px 0px;
    border: none;
    background-color:  rgba(184, 187, 193, 0.2)
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #E36D01;
}

#contact-area input.submit-button {
	width: 70px;
	float: right;
    background-color: rgba(255, 180, 0, 1);
    color: #FFFFFF;
}

.Cdesc
{
    font-family: Signika;
    font-size: 25px;
    text-align: left;
    color: #404144;
    margin-top: 2px;
    margin-bottom: 20px;
    margin-left: 60px;
}
.leftcolCont
{
    position: absolute;
    padding: 5px 60px ;
    height: auto;
    float: left;
    width: 58%;
    height: auto;
    background-color: white;
    clear: both;
     box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
    font-family: Signika;
}
.rightcolCont
{
    position: relative;
    padding: 5px;
    float: right;
    background-color: white;
    width: 38%;
    height: auto;
    max-height: auto;
    clear:both;
}
.blackLine
{
    border-top: 3px solid #404144;
    height: 5px;
}
.CBdesc{
    font-size: 23px;
    text-align: left;
    color: #404144;
    margin-top: 2px;
    margin-bottom: 30px;
}
#address div > p
{
    line-height: 5px;
}
#telephone{
    margin-bottom: 50px;
}
/******event pages*********/
.eventPTitle
{
    text-align: left;
    font-family: Signika;
    font-size: 35px;
}

.greyline{
    height: 10px;
    border-top: 3px solid #E0E0E0;
}

.eventPic > img
{
    width : 500px ; 
    height : 288px ;
    position: relative;
    margin-left: 250px;
}
.eventContent{
    font-family: Signika;
    font-size: 17.5px;
    text-align: left;
    color: #404144;
    margin-top: 2px;

}
.orangeLineE
{
    height: 10px;
    border-top: 3px solid #E36D01;
    margin-top: 15px;
}
.mainpointsE
{
    font-family: Signika;
    font-size: 17.5px;
    padding-left: 60px;
}
.eventContent{
    font-family: Hevetica;
    font-size: 17px;
    text-align: justify;
}
.subTitleEvent
{
    font-family: Signika;
    font-size: 23px;
    color: #E36D01;
    
}
/********Event page for season**/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%!important;
    margin: auto;
}
.carousel-inner
{
    margin-top: 30px;
     min-height: 600px;
}
/**********Event-Carousel***********/
#emptySpace{
    height: 150px;
}
#myCarousel{
    box-sizing: border-box;
    width: auto;
    overflow:hidden;

}
.carousel-control{
    width: 15%!important;
    color: white!important;
    height:20%!important;
    top:30%!important;
    background-image: none!important;
    text-shadow: none!important;
}

.classCaption{
    text-align: center;
    width: 60%;
    margin: auto;
}
.myCarousel{
    margin-top: 10px;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
    color:#E36D01;
    font-size: 50px!important;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    color:#E36D01;
    font-size: 50px !important;
}
.captionTitle{
    color:#E36D01;
    font-size: 35px;
}
.timeLocation{
    font-weight: 700;
    font-family: Sigika;
    font-size: 20px;
}
/***Search For event**/
div#searchBox
{
    border: 2px solid #E0E0E0;
    width: 60%;
    margin: auto;
    padding: 20px;
    overflow: auto;
}
form#seachForm{
    padding: 10px;
}

form#seachForm label
{
    font-family: Signika;
    font-size: 20px;
    width: 100px;
    display: inline-block;
}
form#seachForm > div
{
    margin-top: 20px;
}
form#seachForm select, form#seachForm input[type=date]
{
    height: 30px;
    width: 200px;
}

#searchEventBtn
{
    width: 100px;
    margin: 3px auto;
    float: right;
    background-color: #E36D01;
    color: #FFFFFF;
    border: none;
    padding: 5px;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
form#seachForm input.submit-button:hover
{
    opacity: 0.7;
    cursor: pointer;
}
.event1,.event2{
   box-shadow: 2px 2px 2px #E0E0E0;
   min-height: 350px;
   padding-left: 20px;
}
.event1{
    float:left;
    width: 45%;
}
.event2{
    float: right;
    width: 45%;
}
#eventResult{
   
}
#eventResult img
{
     width: 300px;
    height: 155px;
    margin-bottom: 8px;
    margin-left: 12px;
}
#eventResult .item{
    padding: 20px 150px;
}
#eventResult .carousel-inner{
    min-height: 500px;

}
#eventResult #myCarousel{
    margin: 0px auto;
    width: 100%;
}
.eclassCaption
{
    width: 90%;
    padding: 10px 20px;
}
#eventResult div.orangeLine
{
    width: 90%;
    margin-left: 10px;
}
.scaptionTitle{
    color:#E36D01;
    font-size: 20px;
    margin-bottom: 3px;
    text-align: center;
}
.stimeLocation{
    font-weight: 700;
    font-family: Sigika;
    font-size: 15px;
    margin-bottom: 3px;
}
/********CSS for images*******/
img.small {
    height:218px;
    width: 288px;
}

img.medium {
    height:344px!important;
    width: 442px!important;
}

img.large {
    height:366px!important;
    width: 892px!important;
}
/***********LOGIN FORM***************/
.loginMain
{
    position: relative;
}
.login-form {
    margin: 7% auto 4%;
    width: 30%;
    background: white;
}
.login-form  h1 {
    padding-top: 23%;
}
.login-form  h1 {
    font-size: 25px;
    color: #676767;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    padding-top: 19%;
    text-align: center;
}

.login-form .head {
    position: absolute;
    top: -15%;
    left: 45%;
}
.login-form .head img {
    border-radius: 50%;
    border: 6px solid rgba(221, 218, 215, 0.23);
}
.login-form img {
    max-width: 100%;
}
.login-form  form {
    width: 80%;
    margin: 0px auto;
    padding: 6% 0px 9%;
}
.login-form input[type="submit"]{
    width: 97%;
    padding: 3%;
    margin-bottom: 8%;
    background: #E36D01;
    font-family: "Open Sans",sans-serif;
    color: white;
    font-size: 20px;
    outline: medium none;
    border: medium none;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.5s ease 0s;
}
.login-form input[type="reset"] {
    width: 97%;
    padding: 3%;
    margin-bottom: 8%;
    background: #717171;
    font-family: "Open Sans",sans-serif;
    color: white;
    font-size: 20px;
    outline: medium none;
    border: medium none;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.5s ease 0s;
}
.login-form p {
    text-align: center;
}
.login-form form p a {
    color: #888;
    font-family: "Open Sans",sans-serif;
}
.login-form input[type="text"],.login-form input[type="password"],.login-form input[type="email"],.login-form input[type="username"]  {
    text-align: left;
    position: relative;
    width: 97%;
    padding: 5% 3%;
    background: #D3D3D3;
    margin-bottom: 9%;
    font-family: "Open Sans",sans-serif;
    color: #676767;
    font-weight: 600;
    font-size: 16px;
    outline: medium none;
    border: 1px solid #DED6D6;
}
.error{
    background: #d33; color:white; padding: 0.2em;
}
/*Add events as favorite events*/
div.addFavorite
{
    width: 240px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    display: inline-block;
    background-color: #E36D01;
    margin-top: 30px;
}
div.addFavorite > a
{
    font-size: 16px;
    font-family: Tahoma;    
    color: #F5F5F5;
    width: 83%;
    float: left;
    padding-top: 10px;
    font-weight: 800;
    
}
div.addFavorite > span
{
    height: 36px;
    width: 17%;
    float: right;
    background-image: url("../images/events/add.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5px;
    
}
div.addFavorite:hover{
    cursor: pointer;
    opacity: 0.8;
}
/*Personal page*/
div#topBox{
    height: 150px;
    background-color: #F5F5F5;
    margin: 10px 50px;
}
div#picBox
{
    width: 15%;
    float: left;
}
div#picBox > span{
    background-image: url("../images/index/userPer.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}
div#inforBox{
    width: 70%;
    float: left;
    padding: 30px;
}
div#inforBox .name{
    text-align: left;
    font-family: Signika;
    font-size: 35px;
    border-bottom: 3px solid #E36D01;
}
div#inforBox .email{
    font-family: Signika;
    font-size: 20px;
    margin-top: 10px;
}

.greyBoxFavorite{
    background-color: #F5F5F5;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    padding: 10px;
}
.borderFavorite{
    border-left: 2px solid #F5F5F5;
    border-right: 2px solid #F5F5F5;
    border-bottom: 2px solid #F5F5F5;
    margin-left: 50px;
    margin-right: 50px;
}
div#botBox{
    background-color: #F5F5F5;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px; 
    padding: 10px 30px;
    overflow: auto;
}

#joinedBox{
    float: left;
    width: 40%;
}
#visitedBox{
    float: right;
    width: 40%;
    text-align: right;  
}
.errorlist
{
    background-color: #f2dede;
    list-style-type: none;
    padding: 10px 5px;
    font-size: 16px;
    color: #a94442;
    margin: 10px 50px;  
    width: 78%;
}
.errorlist > li{
    padding-left: 35px;
    text-align: left;
}

#feedbackContainer{
    width: 90%;
    margin: 5px auto;
}